<div class="container">
  <div class="row" *ngFor="let post of post$ | async">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 border mt-2">
      <div class="d-flex justify-content-between">
        <h1>{{post.title}}</h1>
        <p class="author">
          <span>
            <mat-icon>person</mat-icon>
            <span class="aligned-with-icon">{{post.author}}</span>
          </span>
        </p>
      </div>
      <section class="content">
        <p>{{post.description}}</p>
        <img src="{{post.image}}" class="img-fluid" alt="img">
        <div class="mt-3">
          {{post.content}}
        </div>
      </section>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
