<div class="container">
  <div class="row row-flex mt-3">
    <div class="col-12 shadow p-3 mb-5 bg-white rounded"
         *ngFor="let post of listData$ | async">
      <div class="row content">
        <div class="col-sm-4"><img [routerLink]="['/post/', post._id]" class="img-thumbnail" style="cursor: pointer"
                                   src="{{post.image}}" alt=""></div>
        <div class="col-sm-8">
          <h2 class="text-uppercase title" [routerLink]="['/post/', post._id]">{{post.title}}</h2>
          <div class="d-flex justify-content-between entry-header">
            <span>
              <mat-icon>person</mat-icon>
              <span>{{post.author}}</span>
            </span>
            <div *ngIf="isAuth | async">
              <span>
              <mat-icon>edit</mat-icon>
              <span class="aligned-with-icon cursor-pointer" [routerLink]="['/post/edit/', post._id]">Edit</span>
            </span>
              <span>
              <mat-icon>delete_forever</mat-icon>
              <span class="aligned-with-icon cursor-pointer"
                    (click)="deletePostDialog(post._id, post.title)">Delete</span>
            </span>
            </div>
          </div>
          <div>
            {{post.description}}
          </div>
        </div>
      </div>
    </div>
<!--    <div class="col-12 d-flex justify-content-end">-->
<!--      <mat-paginator [length]="length"-->
<!--                     [pageSize]="pageSize"-->
<!--                     [pageSizeOptions]="pageSizeOptions"-->
<!--                      (page)="onPageChange($event)">-->
<!--      </mat-paginator>-->
<!--    </div>-->
  </div>
</div>
